

html {
  scroll-behavior: smooth; /* faz com que o scroll do site seja suave */
  font-size:17px;
}

/*HEADER */

.Header {
   display:flex;
   flex-direction:column;
   justify-content: space-around;
   background-color: rgb(93, 146, 199);
   width: 100%;
   height: 150px;
   position:fixed; /* fixa a posição do header,tirando ele do fluxo normal dos elementos */
   top:0;
   z-index:100; /* coloquei o z-index:100  aqui para que o header sobreponha quaisquer próximos itens que eu colocar */
   font-size:0.9rem;
   
}


#sub-header{
  display: flex;
  flex-direction: row;
  gap: 20%; /*espaçamento de 20% do tamanho do header, em relação a div que guarda a imagem do java */
  justify-content: left;
  align-items: center;
  height: 100px;
  width: 100%;
  
  
}


/* TÍTULO */
#Título {
  width: 38%;
  display:flex;
  flex-direction:row;
  align-items:center ;
  justify-content: center;
  color: rgb(255, 255, 255);
 
  
}

/* IMAGEM JAVA DENTRO DO TÍTULO */
#java {
  height:100px;
  width:130px;  
  z-index: 1;
  display: flex;
  flex-direction: row;
  align-items:center;
  justify-content: center;
 
  
}

#java_img {

  height: 50%;
  width: auto; /* ajusta a largura para a imagem nao ser esticada ou achatada, com base no valor da altura*/
  
}


/* NAV */

a {

text-decoration: none; /* faz com que não tenha sublinhado abaixo dos links */
color: rgb(255, 255, 255);
transition: 0.5s all ease; /* faz a transição quando passa o mouse por cima, o "ease" deixa ela mais suave*/
}


#Nav {
     display: flex;
     flex-direction: row;
     align-items: center;
     justify-content: space-around;
     font-size:1rem;
     
}

#Nav a:hover {/* o hover serve pra ver quando o mouse passa por cima do lugar determinado, nesse caso o a(links) dentro do Nav */
  color: rgb(238, 180, 47); /* define a cor que vai estar no lugar determinado enquanto o mouse estiver sobre ele */
  text-decoration:underline; /* faz com que quando o mouse passe por cima dos links apareça sublinhado */
  font-size:1.1rem;
}



/* MAIN */

main {
  padding:2rem;
  margin-top: 100px;

}

#home {
  margin-top:5rem;
}

/* CONFIGURAÇÃO GERAL DOS ARTICLES */
article {
  min-height: 50vh;
  padding: 2rem 0;
  scroll-margin-top: 180px; /* para de scrollar com uma distância mínima de 180px do topo dos articles */
  border-bottom:1px solid black;
}


.p_java {
  font-size: 1.1rem;
  width:90%; /* define que a largura vai ser noventa por cento do espaço disponivel*/
  max-width:1000px;/* o max-width serve para que a partir do momento que o valor da largura for maior ou igual a mil ele fixe no mil,ficando melhor para celular*/
  margin: 0 auto; /*centraliza o texto, não alterando em cima e em baixo e divide o valor que sobrou de espaço na largura e distribui ele */
  line-height: 1.5; /* aumenta o espaçamento entre as linhs, fazendo com que a leitura fique melhor */
}

#definicao {
  min-height:40vh;
}

#sintaxe {
  min-height: 40vh;
}

h2 {
  margin-left: 2rem;
}


/* CORPO */
body {

  background: white;
  padding: 0px;
  margin: 0px;
  
  
}

/* RODAPÉ */
#footer {
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgb(124, 124, 128);
  height: 180px;
  font-family:"Open Sans",sans-serif;
  
}

@media (max-width: 768px ) {

#java {
  height:75px;
  width:90px;
}


  #Título {
  font-size:0.9rem;
  width:95%;
}

#sub-header {
  gap:0%; /* tira o gap que estava atrapalhando o título no celular */

}

#Nav {
  font-size:0.8rem;
}

#footer {
  font-size:0.8rem
}


}