

html {
  scroll-behavior: smooth; /* faz com que o scroll do site seja suave */
  font-size:17px;
}

/*HEADER */

.Header {
   display:flex;
   flex-direction:column;
   justify-content: space-around;
   background-color: rgb(58, 117, 176);
   width: 100%;
   height: 150px;
   position:fixed; /* fixa a posição do header,tirando ele do fluxo normal dos elementos */
   top:0;
   z-index:100; /* coloquei o z-index:100  aqui para que o header sobreponha quaisquer próximos itens que eu colocar */
   font-size:0.9rem;
   
}


#sub-header{
  display: flex;
  flex-direction: row;
  gap: 20%; /*espaçamento de 20% do tamanho do header, em relação a div que guarda a imagem do java */
  justify-content: left;
  align-items: center;
  height: 100px;
  width: 100%;
  background-color: brown;
  
}


/* TÍTULO */
#Título {
  width: 38%;
  display:flex;
  flex-direction:row;
  align-items:center ;
  color: rgb(255, 255, 255);
  margin-left:20px;
  background-color: rgb(46, 192, 14);
  
}

/* IMAGEM JAVA DENTRO DO TÍTULO */
#java {
  height:100px;
  width:130px;  
  z-index: 1;
  display: flex;
  flex-direction: row;
  align-items:center;
  justify-content: center;
  background-color: rgb(163, 163, 238);
  
}

#java img {

  height: 50%;
  width: auto; /* ajusta a largura para a imagem nao ser esticada ou achatada, com base no valor da altura*/
  
}


/* NAV */

#Nav {
     display: flex;
     flex-direction: row;
     align-items: center;
     justify-content: space-around;
}

#Nav a:hover {/* o hover serve pra ver quando o mouse passa por cima do lugar determinado, nesse caso o a(links) dentro do Nav */
  color: rgb(27, 10, 120); /* define a cor que vai estar no lugar determinado enquanto o mouse estiver sobre ele */
  text-decoration:underline; /* faz com que quando o mouse passe por cima dos links apareça sublinhado */
  transition: 0.5s color ease; /* faz a transição quando passa o mouse por cima, o "ease" deixa ela mais suave*/
}

a {

text-decoration: none; /* faz com que não tenha sublinhado abaixo dos links */
color: rgb(255, 255, 255);

}

/* MAIN */

main {
  padding:2rem;
  margin-top: 180px;

}

#home {
  margin-top:5rem;
}
/* CONFIGURAÇÃO GERAL DO SECTION */
article {
  min-height: 50vh;
  padding: 2rem 0;
  scroll-margin-top: 180px; /* para de scrollar com uma distância mínima de 180px do topo dos articles */
  border-bottom:1px solid black;
}


/* SEÇÕES */

.p_java {
  font-size: 1.1rem;;
  width:90%; /* define que a largura vai ser noventa por cento do espaço disponivel*/
  max-width:1000px;; /* o max-width serve para que a partir do momento que o valor da largura for maior ou igual a mil ele fixe no mil,ficando melhor para celular*/
  margin: 0 auto; /*centraliza o texto, não alterando em cima e em baixo e divide o valor que sobrou de espaço na largura e distribui ele */
  line-height: 1.5; /* aumenta o espaçamento entre as linhs, fazendo com que a leitura fique melhor */
}

h2 {
  margin-left: 2rem;
}


/* CORPO */
body {

  background: white;
  padding: 0px;
  margin: 0px;
  
  
}

/* RODAPÉ */
#footer {
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgb(124, 124, 128);
  height: 180px;
  font-family:"Open Sans",sans-serif;
  
}

